*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
body{
    margin-top: 15px;
}
    .container{
        margin: 0 2%;
        max-width: 1320px;
        text-align: center;
        font-family: Merriweather;
        color: #fff;
        background: linear-gradient(180deg, #070211 80%, rgba(7, 2, 17, 0.00) 100%);
        background-image: url('../images/Banner-Image.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 16px;
    }
    .hero-page{
        padding-top: 177px;
        padding-bottom: 177px;
        z-index: 5;
    }
    .header-greeting{
        font-size: 32px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .header-greeting-party{
        padding-top: 0;
        margin-top: 0;
        font-size: 72px;
        font-weight: 900;

    }
    .discount-section{
        color: #F00;
        text-align: center;
        font-family: Inter;
        text-align: center;
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .discount-title{
        color: #F00;
        align-items: center;
        font-size: 88px;
        font-weight: 700;
    }
    .discount-reason{
        color: #F00;
        font-size: 24px;
        font-weight: 500;
        margin-top: 40px;
       
    }
    .discount-catagory{
        color: #070211;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 48px;
    
    }
    .new-year-party{
        margin: 0 2%;
        max-width: 1320px;
        background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
        background-image: url('../images/Vectorrr.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background: cover;  
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        font-family: Merriweather;
        gap: 40px;
        padding: 5% 5%;
        
    }
    .new-year-party-title{
        color: #FFF;
        font-size: 64px;
        font-weight: 900;
        letter-spacing: 7.04px;
    }
    .party-description{
      color: rgba(255, 255, 255, 0.80); 
      margin-bottom: 48px; 
      line-height: 32px;
      
    }
    .btn-primary{
        color: #FFF;
        background-color:#ff0000;
        padding: 12px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
        border-radius: 5px;
    }
    .btn-primary:hover{
        background-color:#fe7a7a;
        cursor: pointer;
    } 
    .party-place-section{
        margin: 0 2%;
        max-width: 1320px;
        margin-top: 120px;
        font-family: Inter;
        margin-bottom: 120px;
        background: linear-gradient(360deg,rgb(248, 247, 245) 80%, rgb(230, 216, 204));
        text-align: center;
        padding-top: 100px;
        border-radius: 16px;
        line-height: 56px;
       
    }
    .party-place-section span{
        color: #FF0000;
    }
    .party-title{
        font-size: 32px;
        color: #000;
    }
    .party-date{
         font-size: 32px;
         color: #000;
    }
    .party-time{
     font-size: 32px;
     color: #000;
    }
   
    .btn-party-place{
        color: #FFF;
        background-color:#ff0000;
        padding: 12px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
        border-radius: 5px; 
        margin-top: 30px;
        margin-bottom: 126px;
       
    }
     .btn-party-place:hover{
        background-color:#fe7a7a;
        cursor: pointer;
     }
   
    .image-round-section{
        margin: 0 2%;
        max-width: 1320px;
        margin-top: 120px;
        font-family: Inter;
        margin-bottom: 120px; 
        display: flex; 
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
    }
   
    .offer-title{
        color: #F00;
        font-family: Inter;
        font-size: 24px;
    }
    .offer-time{
        color: #070211;
        font-size: 48px;
        font-weight: 900;
        text-transform: capitalize;
    }
    .offer-description{
        font-size: 20px;
        font-weight: 400;
        padding-top: 20px;
         font-family: Inter;
        line-height: 32px;
        color: #3b3a3a;
        
    }
    .offer-image img{
        border-radius: 50%;
        border: 15px solid #F00;
        padding: 25px;
        
    }
    .offer-2024{
        padding-top: 20px;
        color: #F00;
        font-size: 48px;
        font-weight: 700;
    }
    .offer-year-image{
        margin-top: 32px;
    }
    .holidays{
        margin: 0 2%;
        max-width: 1320px;
        margin-top: 60px;
        margin-bottom: 120px; 
        font-family: Merriweather; 
        text-align: center;
     
    }
    .holiday-sale-discount{
        color: #070211;
        font-size: 72px;
        font-weight: 900;
        margin-bottom: 40px;
    }
    .holiday-sale-discount span{
        color: #F00;
        font-size: 72px;
        font-weight: 900;
    }
    .holiday-text{
        text-align: center;
        padding: 0 100px;
        margin-bottom: 60px;
        color: #070211;
        line-height: 32px;   
    }
    .holiday-text h3{
        margin-bottom: 32px;
    }
    .holiday-images{
        max-width: 100%;
        display: flex; 
        align-items: center;
    }

    .holiday-images01{
        z-index: 3;
        margin-bottom: -30px;
    }
    .holiday-images02{
        margin-left: -170px;
        margin-right: 0;
        z-index: 3;
        /* margin-top: 30px; */
}
    
    .holiday-images03{
        margin-left: -151px;
        z-index: -1;
    }
    .bg-image{
        margin-top:-130px;
       
    }
    .bg-image img{
        max-width: 100%;
    }
     .gifts-section{
        margin: 0 2%;
        max-width: 1320px;
        margin-top: 120px;
        margin-bottom: 120px; 
        font-family: Merriweather; 
     }
     .gifts-title{
        color: #F00;
        font-family: Inter;
        font-size: 24px;
     }
     .about-portfolio{
        color: #070211;
        font-size: 48px;
        font-weight: 900;
        text-transform: capitalize; 
        margin-bottom: 22px;
     }
     .portfolio-description{
        margin-bottom: 48px;
         color: #070211;
         line-height: 32px;
     }
     .gifts-images-row01{
        max-width: 1260px;
        display: flex;
        gap: 20px;
        margin-bottom: 18px;
     }
      .gifts-images-row01 img:hover, .gifts-images-row02 img:hover{
        background-color: rgba(53, 53, 35, 0.9);
        cursor: pointer;
      }

     .gifts-images-row01 img, .gifts-images-row02 img{
        max-width: 390px;
     }
     .gifts-images-row02{
        display: flex;
         gap: 20px;
     }
     .subscription{
        margin: 0 2%;
        max-width: 1320px;
        margin-top: 120px;
        padding: 120px;
        margin-bottom: 120px; 
        font-family: Merriweather;  
        text-align: center; 
        background: rgba(255, 0, 0, 0.05);

  
     }
     .subscriber-headline{
        color: #070211;
        font-size: 48px;
        font-weight: 900;
        text-transform: capitalize; 
        margin-bottom: 22px;
     }
     .input-box input{
        margin-top: 20px;
        width: 20%;
        border-radius: 10px;
        padding: 5px 20px;
     }
     .btn-subscribe-email{
        border: 0;
        padding: 5px 20px;
        margin-right: -10px;
        width: 33%;
        background-color: #fff;
        height: 62px;
        border-radius: 0 10px 10px 0;
    
     }
     .btn-subscribe{
        background-color: #FF0000;
        border: 0;
        border-radius: 0 10px 10px 0;
        padding: 5px 20px;
        margin-left: 0;
        height: 72px;
        color: #fff;
     }
     .btn-subscribe:hover{
         background-color:#fe7a7a;
        cursor: pointer;
     }
     .subscriber-description{
        margin-bottom: 48px;
        margin-top: 48px;
        line-height: 32px;
  
     }
     .social-link{
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
     }
     .address{
        display: flex;
        justify-content: space-between;
        margin: 0 10%;
        margin-bottom: 50px;
     }
     .address01,.address02{
        line-height: 40px;
     }
     .footer{
        /* margin: 0 2%; */
        max-width: 1320px;
        margin-top: 120px;
        background-color: #000000;
        color: #FFF;
        padding-top: 40px;
     }
     .footer hr{
        background-color: rgba(255, 255, 255, 0.15);
        max-width: 80%;
        align-items: center;
        margin: 0 auto;
        max-width: 80%;
        margin-bottom: 50px;
        color: blue;
     }
     .copyright{
        display: flex;
        justify-content: space-between;
        margin: 0 10%;
        padding-bottom: 50px;
     }
